@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,800&family=Quicksand:wght@700&family=Roboto:wght@700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}
*{
    box-sizing: border-box;

}

.nav-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05); 
}

.logo-container{
    display: flex;
    width: 50%;
    margin-left: 240px; 
}

.logo-container img{
    width: 87px;
    /* object-fit: cover; */
    margin-right: 20px;
}

.logo-container p{
    font-size: 30px;
}

.g-section{
    color: #FF42A5;
}

.nav-item-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-right:240px ;
    
}

.nav-item-container a{
    text-decoration: none;
}

/* banner container starts */
.container-main{
    display: flex;
    justify-content: space-between;
    
}

.h3tag{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.h1tag{
    text-align: center;
    font-size: 95px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text; 
   -webkit-text-fill-color: transparent;
   
}

.patag{
    color: #534C64;
    text-align: center;
    font-size: 20px;
    font-style: normal;
}


.btn1{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 20px;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
}

.btn2{
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
}
.btn3{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 20px;
    padding: 21px 40px;
    gap: 10px;
    color: #FFF;
    margin-left: 495px;
 
 

}
.banner-container{
margin-left: 240px;
margin-top: 278px;
}

.conainer-img{
    margin-right: 240px;
}

.container2{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

banner2-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.content-section{
    margin-right: 240px;
}


.gamer{
    text-align: right;
    font-size: 48px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    line-height: normal;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}

.gmaerptag{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    line-height: 20px; /* 166.667% */
}


.pblock{

    color: #534C64;
    font-size: 32px;
    line-height: 45px;
}


/* banner contiiner ends */

