@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,800&family=Quicksand:wght@700&family=Roboto:wght@700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}
*{
    box-sizing: border-box;

}

.nav-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    
}

.logo-container{
    display: flex;
    width: 50%;
}

.logo-container img{
    width: 87px;
    /* object-fit: cover; */
    margin-right: 20px;
}

.logo-container p{
    font-size: 30px;
}

.g-section{
    color: #FF42A5;
}

.nav-item-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    
}

.nav-item-container a{
    text-decoration: none;
    
}


