.nav-container{
    border: 1px solid red;
    min-height: 50px;
}

.logo-container{
    border: 1px solid green;
    width: 87px;
    display: flex;
}

.logo-container p{
    font-size: 40px;
}


.nav-item-container{
    border: 1px solid blue;

}